 <section class="container h-full mx-auto px-4 py-16">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class=" bg-gray-800 rounded-lg shadow-lg border border-amber-300 border-opacity-20">
        <img src="assets/images/Helldivers-2-PNG-1.png" alt="Mission Briefing" class="w-full h-48 object-cover rounded-t-lg bg-blue-300">
        <div class="p-6">
          <h3 class="text-xl font-bold text-amber-300 mb-2">Mission Briefing</h3>
          <p class="text-gray-400">
            Get the latest updates on ongoing missions and objectives. Stay informed and ready for action.
          </p>
          <a href="#" class="mt-4 inline-block text-amber-300 hover:underline">Learn More →</a>
        </div>
      </div>

      <div class="bg-gray-800 rounded-lg shadow-lg hover-scale border border-amber-300 border-opacity-20">
        <img src="assets/images/helldivers-icon2.jpg" alt="Enemy Intel" class="w-full h-48 object-cover rounded-t-lg ">
        <div class="p-6">
          <h3 class="text-xl font-bold text-amber-300 mb-2">Enemy Intel</h3>
          <p class="text-gray-400">
            Discover the strengths and weaknesses of our alien adversaries. Knowledge is power.
          </p>
          <a href="#" class="mt-4 inline-block text-amber-300 hover:underline">Learn More →</a>
        </div>
      </div>

      <div class="bg-gray-800 rounded-lg shadow-lg hover-scale border border-amber-300 border-opacity-20">
        <img src="assets/images/Helldivers-2-PNG.png" alt="Squad Readiness" class="w-full h-48 object-cover rounded-t-lg bg-blue-300">
        <div class="p-6">
          <h3 class="text-xl font-bold text-amber-300 mb-2">Squad Readiness</h3>
          <p class="text-gray-400">
            Ensure your squad is prepared for the challenges ahead. Train, equip, and dominate.
          </p>
          <a href="#" class="mt-4 inline-block text-amber-300 hover:underline">Learn More →</a>
        </div>
      </div>
    </div>
  </section>


  <div class="bg-gray-800 rounded-lg shadow-lg hover-scale border border-amber-300 border-opacity-20 mx-5 my-5 px-4 py-5 ">
    <img src="assets/images/herostand.jpg" alt="Squad Readiness" class="w-full object-cover rounded-t-lg bg-blue-300 max-h-50 lg:max-h-100">
    <div class="p-6">
      <h3 class="text-xl font-bold text-amber-300 mb-2">Join our Heros</h3>
      <p class="text-gray-400">
        This is the perfect oportunity to <span class="text-amber-300">BECOME A HERO!</span>  SAVE THE GALAXY!
      </p>
      <a href="#" class="mt-4 inline-block text-amber-300 hover:underline">JOIN NOW →</a>
    </div>