
<form action="">

  <label for="housingName">Housing Name</label>
  <input id="housingName" type="text">

  <label for="housingAddress">Housing Address</label>
  <input id="housingAddress" type="text" formControlName="housingAddress">

  <label for="housingName">Housing Name</label>
  <input id="housingName" type="text" formControlName="housingName">

  <label for="hasWifi">Has Wifi</label>
  <input id="hasWifi" type="checkbox" formControlName="hasWifi">

  <label for="hasLaundry">Has Laundry</label>
  <input id="hasLaundry" type="checkbox" formControlName="hasLaundry">

</form>

