<nav class="flex flex-row items-start p-3 md:flex-row justify-evenly  md:items-center w-screen bg-black md:px-2 md:py-5 text-white ">
    

    <div class="relative inline-block group self-center ">
        <div class="py-2  sm:py-0">
            <button class="border-l-2 px-4 py-2 rounded-lg bg-amber-100  p-2 hover:bg-amber-300 text-black ">Menu</button>
        </div>
    
        <div class="absolute  w-40 bg-white border rounded shadow-lg hidden group-hover:block">
            <a routerLink="/" class="block px-4 py-2 hover:bg-gray-200 text-black">Home Page</a>
            <a href="#" class="block px-4 py-2 hover:bg-gray-200 text-black">Opción 2</a>
            <a href="#" class="block px-4 py-2 hover:bg-gray-200 text-black">Opción 3</a>
        </div>
    </div>

    <div>
        <p class="text-1xl font-bold  text-center p-3 pl-0 md:p-2">Esta es la barra de navegación de la app</p>

    </div>
    
    <div class=" justify-end self-center ">
        <button class="btn p-2 md:p-2 " routerLink="/login">Login</button>
    </div>


    
</nav>
<div class="p-2">

</div>

