

<div class="flex mb-5 flex-col justify-start items-start  sm:flex-row sd:justify-evenly sm:justify-between sm:items-center bg-amber-300 sm:py-3 p-3">
    <div class="py-2 sm:py-0">
        <h1 class="text-3xl  rounded-lg p-1 font-bold font-insignia">HOME, EARTH, HUMANITY</h1>
    </div>
    
    <div class="py-2 sm:py-0">
        <p class="rounded-2xl p-1">This is the home of every hero in the universe.</p> 

    </div>

    
</div>

<!-- Bloques -->
<div class="flex flex-col space-y-4 p-4 bg-gray-800  sm:flex-row sm:space-x-4 sm:space-y-0">    
<div class="flex-1 bg-gray-700 rounded-lg p-6 shadow-lg border border-amber-500 border-opacity-30 bg-cover min-h-50 " style="background-image: url('assets/images/hope.jpg')">        <h2 class="text-2xl font-bold text-amber-300 rounded-lg px-2" style="background-color: rgba(0, 0, 0, 0.281);">HOPE</h2>
        <p class="mt-2 text-white rounded-lg p-1" style="background-color: rgba(39, 41, 43, 0.377);">A brighter future is forged through sacrifice. Fight for a galaxy where humanity thrives, free from oppression.</p>
    </div>
    
<div class="flex-1 bg-gray-700 rounded-lg p-6 shadow-lg border border-amber-500 border-opacity-30 bg-cover " style="background-image: url('assets/images/enemies.jpg')">        <h2 class="text-2xl font-bold text-amber-300 rounded-lg px-2" style="background-color: rgba(0, 0, 0, 0.281);">ADVENTURE</h2>
        <p class="mt-2 text-white rounded-lg p-1" style="background-color: rgba(39, 41, 43, 0.377);">Travel across the cosmos, face overwhelming odds, and make history as part of the elite fighting force.</p>
    </div>

<div class="flex-1 bg-gray-700 rounded-lg p-6 shadow-lg border border-amber-500 border-opacity-30 bg-cover " style="background-image: url('assets/images/helldivers-fistbump.png')">        <h2 class="text-2xl font-bold text-amber-300 rounded-lg px-2" style="background-color: rgba(0, 0, 0, 0.281);">COMPANIONSHIP</h2>
        <p class="mt-2 text-white rounded-lg p-1" style="background-color: rgba(39, 41, 43, 0.377);">No soldier fights alone. Stand side by side with your brothers and sisters in arms as you defend our way of life.</p>
    </div>
</div>

<div class="flex flex-col space-y-4 p-4 bg-gray-800  sm:flex-row sm:space-x-4 sm:space-y-0">
    <div class="flex-1 bg-gray-700 rounded-lg p-6 shadow-lg border border-amber-500 border-opacity-30 bg-cover min-h-50 " style="background-image: url('assets/images/spider.png')">
        <h2 class="text-2xl font-bold text-amber-300 rounded-lg px-2" style="background-color: rgba(0, 0, 0, 0.281);">BORDER CONTROL</h2>
        <p class="mt-2 text-white rounded-lg p-1" style="background-color: rgba(39, 41, 43, 0.377);">Keep our worlds safe. Eliminate any threat that dares cross the Federation’s borders.</p>
    </div>
    
<div class="flex-1 bg-gray-700 rounded-lg p-6 shadow-lg border border-amber-500 border-opacity-30 bg-cover min-h-50 " style="background-image: url('assets/images/ourheroes.png')">        <h2 class="text-2xl font-bold text-amber-300 rounded-lg px-2 shadow-lg " style="background-color: rgba(0, 0, 0, 0.281);">IDENTITY</h2>
        <p class="mt-2 text-white rounded-lg p-1" style="background-color: rgba(39, 41, 43, 0.377);">You are more than just a soldier—you are the shield of humanity, the enforcer of justice, and the beacon of order.</p>
    </div>

<div class="flex-1 bg-gray-700 rounded-lg p-6 shadow-lg border border-amber-500 border-opacity-30 bg-cover min-h-50 " style="background-image: url('assets/images/supremacy.jpg')">        <h2 class="text-2xl font-bold text-amber-300 rounded-lg px-2" style="background-color: rgba(0, 0, 0, 0.281);">MILITARY SUPREMACY</h2>
        <p class="mt-2 text-white rounded-lg p-1" style="background-color: rgba(39, 41, 43, 0.377);">Victory is our right. With superior firepower and unwavering discipline, we will crush all who oppose us.</p>
    </div>
</div>

<div class="flex flex-col space-y-4 p-4 bg-gray-800  sm:flex-row sm:space-x-4 sm:space-y-0"> 
<div class="flex flex-row space-y-4 p-4 bg-gray-800  sm:flex-row sm:space-x-4 sm:space-y-0">
<div class="flex-1 bg-gray-700 rounded-lg p-6 shadow-lg border border-amber-500 border-opacity-30 bg-cover min-h-50 " style="background-image: url('assets/images/family.jpg')">        <h2 class="text-2xl font-bold text-amber-300 rounded-lg px-2" style="background-color: rgba(0, 0, 0, 0.281);">FAMILY</h2>
        <p class="mt-2 text-white rounded-lg p-1" style="background-color: rgba(39, 41, 43, 0.377);">Every soldier fights to protect their loved ones. The Federation is more than a government—it is our home.</p>
    </div>
    
<div class="flex-1 bg-gray-700 rounded-lg p-6 shadow-lg border border-amber-500 border-opacity-30 bg-cover min-h-50 " style="background-image: url('assets/images/loveimage.webp')">        <h2 class="text-2xl font-bold text-amber-300 rounded-lg px-2" style="background-color: rgba(0, 0, 0, 0.281);">LOVE</h2>
        <p class="mt-2 text-white rounded-lg p-1" style="background-color: rgba(39, 41, 43, 0.377);">The greatest act of love is sacrifice. Fight not for yourself, but for the countless generations yet to come.</p>
    </div>
</div>
</div>


<div class="flex flex-row space-y-4 p-4 bg-gray-800  sm:flex-row sm:space-x-4 sm:space-y-0">

<div class="flex-1 bg-gray-700 rounded-lg p-6 shadow-lg border border-amber-500 border-opacity-30 bg-cover min-h-50 xl:min-h-150" style="background-image: url('assets/images/conquest.jpg')">        <p class="text-amber-300 font-bold">AND MOST IMPORTANTLY...</p>
        <h2 class="text-2xl font-bold text-amber-300 rounded-lg px-2" style="background-color: rgba(0, 0, 0, 0.281);">FREEDOM</h2>
        <p class="mt-2 text-white rounded-lg p-1" style="background-color: rgba(39, 41, 43, 0.377);">Discover the secrets of the cosmos.</p>
    </div>

   
</div>


