<div class="bg-gray-900 text-gray-300 p-6">
    <h2 class="text-2xl font-bold text-amber-300 mb-6">Planet Information</h2>

    <div *ngIf="isLoading" class="text-center text-gray-400">
        Loading planet data...
    </div>

    <div *ngIf="error" class="text-center text-red-500">
        {{ error }}
    </div>

    <!-- Planetas pillados de la api de helldivers -->
    <div *ngIf="!isLoading && !error" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <div *ngFor="let planet of getPlanetArray()" class="bg-gray-800 rounded-lg shadow-lg p-6 m-2 md:m-0 lg:m-2  hover:scale-105 transition-transform">
            <img src="/assets/images/superearthflag.jpg" 
                 alt="Planet Image" 
                 class="w-full h-40 object-cover rounded-lg mb-4">

            <h3 class="text-xl font-bold text-amber-300 mb-2">{{ planet.name }}</h3>
            <p class="text-gray-400"><strong>Sector:</strong> {{ planet.sector }}</p>

            <div *ngIf="planet.biome" class="mt-4">
                <p class="text-white"><strong>Biome:</strong> {{ planet.biome.slug }}</p>
                <p class="text-gray-400">{{ planet.biome.description }}</p>
            </div>

            <div *ngIf="planet.environmentals.length > 0" class="mt-4">
                <p class="text-white"><strong>Environmental Conditions:</strong></p>
                <ul class="list-disc list-inside text-gray-400">
                    <li *ngFor="let env of planet.environmentals">
                        {{ env.name }}: {{ env.description || 'No description available.' }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
